.viewer-container {
	display: flex;
	justify-content: center;
	position: relative;
}

.viewer-btn {
	background-color: transparent;
	border: 2px solid white;
	color: white;
	border-radius: 0.5;
	padding: 1.4em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	opacity: 0.7;
}

.content-text {
	margin: 0;
	height: 160px;
	color: #fff;
	line-height: 160px;
	text-align: center;
	/* background: #364d79; */
}

.view-control-container {
	margin: 2rem;
	position: absolute;
	top: 20px;
	left: 0%;
	z-index: 2;
	height: 90%;
	width: 96vw;
	display: flex;
	/* justify-content: center; */
	align-items: flex-end;
}
.view-control {
	font-size: 1rem;
	color: white;
	border: 2px solid transparent;
	opacity: 0.5;
	background: hsla(0, 0%, 0%, 0.298);
	transition: opacity 0.1s ease-in 0.3s;
}
.view-control:hover,
.view-control:focus,
.view-control:active {
	opacity: 0.9;
	background-color: transparent;
	border: 2px solid white;
	/* box-shadow: 0.5rem 0.5rem 2rem hsla(0, 0%, 0%, 0.519); */
}

.view-control:hover {
	cursor: pointer;
}

.img-container {
	width: 100%;
}
.img-p1 {
	/* object-position: 0% 0%; */
	object-fit: fill;
}
.img-p2 {
	object-position: 50% 0%;
}

.viewer {
	border: px solid red;
	overflow-x: hidden;
}
